<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>addEmployeeServlet</display-name>
  <servlet>
    <display-name>Servlet1</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>Controller.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SignUpFilter</filter-name>
    <filter-class>Controller.SignUpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignUpFilter</filter-name>
    <url-pattern>/SignUp</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>Servlet2</display-name>
    <servlet-name>EmployeeProfile</servlet-name>
    <servlet-class>Controller.EmployeeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfile</servlet-name>
    <url-pattern>/EmployeeProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Servlet3</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>Controller.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Login</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>Servlet4</display-name>
    <servlet-name>FriendsList</servlet-name>
    <servlet-class>Controller.FriendsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsList</servlet-name>
    <url-pattern>/FriendsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Servlet5</display-name>
    <servlet-name>FriendProfile</servlet-name>
    <servlet-class>Controller.FriendProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendProfile</servlet-name>
    <url-pattern>/FriendProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Servlet6</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>Controller.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Servlet7</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>Controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>Servlet8</display-name>
    <servlet-name>EditEmployee</servlet-name>
    <servlet-class>Controller.EditEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployee</servlet-name>
    <url-pattern>/EditEmployee</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
</web-app>