<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>addEmployeeServlet</display-name>
  <servlet>
    <display-name>myServlet</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.servlets.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>myServlet</display-name>
    <servlet-name>ShowEmployee</servlet-name>
    <servlet-class>com.servlets.ShowEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmployee</servlet-name>
    <url-pattern>/ShowEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>myServlet</display-name>
    <servlet-name>SearchEmployee</servlet-name>
    <servlet-class>com.servlets.SearchEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmployee</servlet-name>
    <url-pattern>/SearchEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>myServlet</display-name>
    <servlet-name>UpdateEmployeeDetail</servlet-name>
    <servlet-class>com.servlets.UpdateEmployeeDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeDetail</servlet-name>
    <url-pattern>/UpdateEmployeeDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>myServlet</display-name>
    <servlet-name>ChangedEmployeeDetail</servlet-name>
    <servlet-class>com.servlets.ChangedEmployeeDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangedEmployeeDetail</servlet-name>
    <url-pattern>/ChangedEmployeeDetail</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
  </welcome-file-list>
</web-app>